@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #131213;
    --form-bg-color: rgba(50, 55, 68, 0.75);
    --text-color: #e0e0e0;
    --placeholder-color: #a0a0a0;
    --accent-color: #61dafb;
    --button-gradient: #F4C644;
    --button-hover-gradient: linear-gradient(90deg, #72e0ff, #4a8cff);
    --warning-red: rgba(255, 82, 82, 0.4);
    --form-border: 2px solid var(--accent-color);
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);

}
.form-container-Mform {
    background: var(--form-bg-color);
    backdrop-filter: blur(10px);
    border: 0.5px solid #F4C644;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: var(--form-color-2);
    margin: 40px 20px 10px 20px;
    padding: 20px 20px 30px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--warning-red);
    width: 100%;
    max-width: 895px;
    /* border: var(--form-border); */
}

.form-container {
    background: var(--form-bg-color);
    backdrop-filter: blur(10px);
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: var(--form-color-2);
    margin: 40px 10px 10px 10px;
    padding: 20px 20px 30px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--warning-red);
    max-width: 895px;
    min-width: 30vw;
    border: 0.5px solid #F4C644;
    /* max-width: 70vw; */
    /* border: var(--form-border); */
}

.table-wrapper {
    max-width: 90vw;
}

h3 {
    font-size: 28px;
    padding: 15px 10px 10px 10px;
    font-weight: 800;
    font-size: 28px;
    padding: 15px 10px 10px 10px;
    font-weight: 800;
    color: var(--accent-color);

}

.Mform {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: 50%;
    flex-wrap: wrap;
}

select {
    border: none;
    outline: none;
    height: 25px;
}

.row-view {
    display: flex;
    flex-direction: row;
    /* flex-basis: 300px;; */
    flex: 1;
    flex-wrap: wrap;
    padding-left: 20px;
    /* padding-right: 4px */
}

.ele-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    /* padding: 10px 10px; */
    /* border: 0.1px solid #F4C644; */
}

.ele-container input{
    padding: 5px;
    border-radius: 2px;
    border: 0px;
    height: 30px;
    border: 2px solid transparent;
}

.ele-container input, select {
    background-color: #f4c54425;
    color: var(--text-color);
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 4px;
    height: 35px;
}

.ele-container input:user-invalid {
    background: var(--warning-red);
    border: 2px solid var(--warning-red);
}

.ele-container > label {
    display: block;
    padding-left: 1px;
    margin-bottom: 4px;
    font-weight: 600;
}

.gender-row-category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    padding-left: 10px;
    margin: 4px 0px;

}

.subject-row-category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    padding-left: 10px;
    margin: 4px 0px;
}

.gender-category {
    display: flex;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
}

.gender-category > label {
    font-size: 15px;
}

.ele-container input:focus {
    outline: none;
    text-decoration: none;
    border: 0px solid rgba(189, 83, 251, 0.77);
}

.ele-container input:focus, select:focus {
    outline: none;
    border: 2px solid var(--accent-color);
}

.ele-container input::placeholder {
    color: var(--placeholder-color);
    font-size: 13px;
    font-weight: 500;
}

.gender-container{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    width: 100%;
    flex: 1;
    min-width: 300px;
    max-width: 50%;
    align-self:center;
}

.gender-container, .subject-container {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    width: 100%;
    max-width: 50%;
    align-self:center;
}

.gender-container > label, .subject-container > label {
    display: block;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
    font-weight: 600;
}

.subject-container {
    padding-left: 12px;
    width: 100%;
}

.subject-container > label {
    display: block;
    font-size: 13px;
    padding: 0px 10px 0px 10px;
    font-weight: 600;
}

/* Custom Radio */
.gender-category {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    --webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.gender-category input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.custom-radio {
    position: absolute;
    top: 5px;
    left: 0;
    right: 20px;
    height: 15px;
    width: 15px;
    background-color: #131213;
    border-radius: 50%;
    border: 1px solid #F4C644;
}

.gender-category:hover input ~ .custom-radio {
    background-color: rgba(210, 0, 0, 0.63);
}

.gender-category:checked input ~ .custom-radio {
    background-color: rgb(0, 0, 0);
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.custom-radio::after{
    content: "";
    position: absolute;
    display: none;
}

.gender-category input:checked ~ .custom-radio::after {
    display: block;
}

.gender-category .custom-radio::after {
    top: 0px;
    left: -0.4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #F4C644;
}

.categories {
    width: 140px;
}

/* custom CheckBox */

.subject-category {
    display: block;
    position: relative;
    padding-left: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subject-category input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.subject-category > *{
    padding-left: 2px;
}

.custom-checkbox {
    position: absolute;
    top: 2px;
    right: 10%;
    height: 20px;
    width: 20px;
    background-color: #131213;
    border: 1px solid #F4C644;
    cursor: pointer;
}

.subject-category input:checked ~ .custom-checkbox {
    background-color: #000000aa
}

.custom-checkbox::after {
    content: "";
    position: absolute;
    display: none;
}

.subject-category input:checked ~ .custom-checkbox::after {
    display: block;
}

.subject-category .custom-checkbox::after {
    top: 2.5px;
    left: 2.5px;
    width: 14px;
    height: 14px;
    /* border-radius: 50%; */
    background-color: #F4C644;
}

.subject-filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.subject-row-category {
    flex-wrap: wrap;
}

#button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.button-register {
    display: inline-block;
    border-radius: 2px;
    height: 35px;
    width: 120px;
    background: var(--button-gradient);
    color: white;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.668);
    cursor: pointer;
    border-radius: 25px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px var(--warning-red);
}

.button-register:hover {
    background: var(--button-hover-gradient);
    transform: scale(1.05);
}


.button-register:active {
    background: var(--bg-color);
    box-shadow: 5px 5px 10px var(--caution-yellow);
}

.button-register:hover {
    transform: scale(1.1);
}

.form-sort-filter-bar {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 300px
}

 #sort-select  {
    position: relative ;
 }


.filter-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.filter-bar button {
    padding: 0px 40px ;
}

.table {
    margin: 10px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}


#table-container {
    padding: 20px 5px 10px 5px;
}

#filter-containers {
    max-width: 432px;
}

table {
    margin: 10px;
}

table, th, tr {

    padding: 20px 20px;
    border: 2px solid #F4C644;
    border-collapse: collapse;
}

td {
    padding: 0px 5px;
    border: 2px solid #F4C644;
    border-collapse: collapse;

}

tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.apply-clear-bar {
    width: 100%;
}

#refreshButton {
    position: fixed;
    bottom: 0px;
    right: 0px;

    background-color: #F4C644;

    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 20px;

    border: 0px;

}

#refreshButton:hover {
    transform: scale(1.1);
}

#refreshButton img {
    position: relative;
    top: 2px;
}

#refreshButton:active {
    background: var(--button-click);
}


.deactive-style {
    display: none;
}

.button-register-menu {

    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 0;
    background-color: #f4c5444c;
    width: 100%;
    padding-top: 5px;
    border: 0.5px solid #f4c544a0;
    box-shadow: none;
}

td {
    text-align: center;
}

#sort-filter-visible {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-wrapper {
    display: flex;
    flex-direction: row;
    margin: 4px;
    align-items: flex-start;
    align-self: center;
    justify-content: center;

}

.filter-wrapper {
    margin-top: 10px;
}

/* SORT BY STYLING */
.dropdown > input[type="checkbox"] {
    position: absolute;
    display: none;
}

.dropdown > label {
    display: inline-block;
    text-align: center;
    padding: 8px 15px;
    color: #333;
    height: 40px;
    width: 120px;
    text-decoration: none;
    border: 2px solid #ffffff;
    background-color: wheat;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 5px 5px 10px var(--warning-red);
}



.dropdown > label:hover {
    background-color: aqua;
    transform: scale(1.1);
}

.dropdown > ul {
    position: absolute;
    z-index: 999;
    text-align: center;
    left: -1000vw;
    top: 45px;
    border: 2px solid #ffffff;
    background: wheat;
    padding: 6px 0;
    margin: 0;
    list-style: none;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 3px 8px rgba(0,0,0,.15);
}

.dropdown > input[type="checkbox"]:checked ~ ul {
    left: 0;
    border-radius: 2px;
}

.dropdown > ul a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: #333;
}

.dropdown > ul a:hover {
    background: #ececec;
}

.row-filter-align {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

row-filter-align h4 {
    padding-right: 4px;
}

.deactive-style {
    display: none;
}

#my-dropdown {
    visibility:hidden;
}

#sort-filter-visible {
    display: flex;
    align-items: center;
    gap: 10px;
}

#filter-button {
    display: flex;
    justify-content: center;
    justify-content: center;
    background-color: wheat;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    margin: 20px;

    border: 2px solid white;

}

#filter-button img {
    margin-top: 5px;
    height: 30px;
}

#filter-button:hover {
    background-color: aqua;
}

.inactive {
    display: none;
}

.button-register-width {
    min-width: 250px;
}




@media (max-width: 1026px){
    .table-wrapper {
        max-width: 100%;
        flex-wrap: wrap;
    }

    .form-container-Mform {
        max-width: 90%;
    }

    .form-container{
        max-width: 90%;
        /* justify-content: flex-start;
        align-items: flex-start;
        box-shadow: none;
        padding-bottom: 60px; */
    };
}

/*  

@media (max-width: 870px){
    .table-wrapper {
        max-width: 1;
        flex-wrap: wrap;
    }
    .form-container{
        max-width: 800px;
        justify-content: flex-start;
        align-items: flex-start;
        box-shadow: none;
        padding-bottom: 60px;
        /* padding-left: 70%; */
    /* };
} */


@media (max-width: 518px){
    .subject-row-category {
        width: 80vw;
        align-items: center;
    }

}

@media (max-width: 488px ){

    .table-wrapper {
        max-width: 400px;
 
    }

    .form-container-Mform {
        max-width: 400px;
        box-shadow: none;
    }

    .row-view label, h4 {
        font-size: 18px;
        font-style: italic;
    }

    .button-register-width {
        min-width: 320px;
    }

    .form-container {
        max-width: 400px;
        min-width: 399px;
        justify-content: flex-start;
        align-items: flex-start;
        box-shadow: none;
        padding-bottom: 60px;
        padding-left: 0;
    }

    .button-register {
        box-shadow: none;
    }

    .subject-row-category {
        width: 80vw;
        align-items: center;
    }

    .form-header {
        display: flex;
        min-width: 80vw;
        justify-content: center;
    }
    
    #sort-filter-visible {
        min-width: 80vw;
        justify-content: center;
    }

    .row-view {
        padding: 0;
    }
    body {
        font-size: 14px;
    }
    h3 {
        font-size: 20px;
    }

}

@media (max-width: 435px ){
    .row-view label, h4 {
        font-size: 16px;
    }
}

@media (max-width: 410px){
    .form-container-Mform {
        border: none;
    }
}

@media (max-width: 362px ){

    .table-wrapper {
        max-width: 350px;
        flex-wrap: wrap;
    }

    .form-container-Mform {
        max-width: 340px;
        box-shadow: none;
    }

    .form-container {
        max-width: 350px;
        box-shadow: none;
    }

    .row-view {
        padding: 0;
    }

    .button-register-width {
        min-width: 280px;
    }

    h3 {
        font-size: 12px;
    }

    .row-view label, h4 {
        font-size: 14px;
    }

}


